@model HRMSProject.Models.VmCompanyType

@{
    ViewData["Title"] = "Edit";
}


<div class="container-fluid">
    <h1>Edit Company Type </h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit" asp-controller="CompanyTypes">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="CompanyTypeId" type="hidden" />
                <div class="form-group">
                    <label asp-for="CompanyTypeName" class="control-label"></label>
                    <input asp-for="CompanyTypeName" class="form-control" />
                    <span asp-validation-for="CompanyTypeName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>