@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse magna augue, pharetra a rhoncus a, condimentum a libero. Aliquam facilisis bibendum ex vel condimentum. Nullam feugiat laoreet urna quis ornare. Aenean venenatis leo nibh, vel efficitur lorem tristique eget. Nam accumsan accumsan massa eget sodales. Ut vel nisl imperdiet, cursus nulla eu, luctus mi. Mauris ut rutrum nunc, ac varius tellus. Suspendisse ultricies nunc vitae magna eleifend feugiat. In nec tempus turpis. Sed ultrices, ligula ut tincidunt ornare, massa magna ornare lacus, sit amet condimentum odio sapien a neque.

        Nulla facilisi. Mauris id leo libero. Nunc ut ex tincidunt, aliquam diam vel, posuere ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque mattis erat non pretium egestas. Sed nec mollis leo, tempus sodales ligula. Integer eleifend condimentum risus, nec tincidunt mi mattis ac. Suspendisse vel quam vitae ante convallis rutrum. Nunc fringilla hendrerit rhoncus. Praesent vitae semper dolor, non venenatis nibh. Proin sollicitudin urna nec suscipit tincidunt.

        Phasellus tincidunt magna sit amet ipsum sodales, feugiat ullamcorper nisi elementum. Nam semper, dolor vel fringilla molestie, arcu risus luctus purus, non condimentum nulla nibh vitae turpis. Proin sed urna sem. Sed est magna, suscipit et sagittis in, efficitur quis tortor. Nunc nec erat orci. Sed imperdiet augue eu commodo efficitur. Nunc dignissim eu felis id mattis. Praesent porta feugiat est, eu consectetur odio ornare eget.

        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum sit amet diam ex. Sed ac scelerisque dolor. Nunc semper ultrices dui, eu ultrices magna facilisis ut. Praesent augue nibh, convallis ut ante et, rhoncus gravida massa. Suspendisse ornare turpis ac turpis tempor tempus. Etiam tristique tempor ultricies.

        Vivamus eget tellus at nibh scelerisque dapibus. Vestibulum posuere mi ac orci tristique egestas. Sed porttitor accumsan ultrices. Suspendisse varius pretium rutrum. Phasellus eget nibh ipsum. In at iaculis lacus, vitae molestie ex. Proin vitae mollis diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus vitae pretium nisi. Aliquam ac dolor nec tellus luctus ultrices.

        Generated 5 paragraphs, 340 words, 2317 bytes of Lorem Ipsum
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse magna augue, pharetra a rhoncus a, condimentum a libero. Aliquam facilisis bibendum ex vel condimentum. Nullam feugiat laoreet urna quis ornare. Aenean venenatis leo nibh, vel efficitur lorem tristique eget. Nam accumsan accumsan massa eget sodales. Ut vel nisl imperdiet, cursus nulla eu, luctus mi. Mauris ut rutrum nunc, ac varius tellus. Suspendisse ultricies nunc vitae magna eleifend feugiat. In nec tempus turpis. Sed ultrices, ligula ut tincidunt ornare, massa magna ornare lacus, sit amet condimentum odio sapien a neque.

        Nulla facilisi. Mauris id leo libero. Nunc ut ex tincidunt, aliquam diam vel, posuere ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque mattis erat non pretium egestas. Sed nec mollis leo, tempus sodales ligula. Integer eleifend condimentum risus, nec tincidunt mi mattis ac. Suspendisse vel quam vitae ante convallis rutrum. Nunc fringilla hendrerit rhoncus. Praesent vitae semper dolor, non venenatis nibh. Proin sollicitudin urna nec suscipit tincidunt.

        Phasellus tincidunt magna sit amet ipsum sodales, feugiat ullamcorper nisi elementum. Nam semper, dolor vel fringilla molestie, arcu risus luctus purus, non condimentum nulla nibh vitae turpis. Proin sed urna sem. Sed est magna, suscipit et sagittis in, efficitur quis tortor. Nunc nec erat orci. Sed imperdiet augue eu commodo efficitur. Nunc dignissim eu felis id mattis. Praesent porta feugiat est, eu consectetur odio ornare eget.

        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum sit amet diam ex. Sed ac scelerisque dolor. Nunc semper ultrices dui, eu ultrices magna facilisis ut. Praesent augue nibh, convallis ut ante et, rhoncus gravida massa. Suspendisse ornare turpis ac turpis tempor tempus. Etiam tristique tempor ultricies.

        Vivamus eget tellus at nibh scelerisque dapibus. Vestibulum posuere mi ac orci tristique egestas. Sed porttitor accumsan ultrices. Suspendisse varius pretium rutrum. Phasellus eget nibh ipsum. In at iaculis lacus, vitae molestie ex. Proin vitae mollis diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus vitae pretium nisi. Aliquam ac dolor nec tellus luctus ultrices.

        Generated 5 paragraphs, 340 words, 2317 bytes of Lorem Ipsum
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse magna augue, pharetra a rhoncus a, condimentum a libero. Aliquam facilisis bibendum ex vel condimentum. Nullam feugiat laoreet urna quis ornare. Aenean venenatis leo nibh, vel efficitur lorem tristique eget. Nam accumsan accumsan massa eget sodales. Ut vel nisl imperdiet, cursus nulla eu, luctus mi. Mauris ut rutrum nunc, ac varius tellus. Suspendisse ultricies nunc vitae magna eleifend feugiat. In nec tempus turpis. Sed ultrices, ligula ut tincidunt ornare, massa magna ornare lacus, sit amet condimentum odio sapien a neque.

        Nulla facilisi. Mauris id leo libero. Nunc ut ex tincidunt, aliquam diam vel, posuere ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Pellentesque mattis erat non pretium egestas. Sed nec mollis leo, tempus sodales ligula. Integer eleifend condimentum risus, nec tincidunt mi mattis ac. Suspendisse vel quam vitae ante convallis rutrum. Nunc fringilla hendrerit rhoncus. Praesent vitae semper dolor, non venenatis nibh. Proin sollicitudin urna nec suscipit tincidunt.

        Phasellus tincidunt magna sit amet ipsum sodales, feugiat ullamcorper nisi elementum. Nam semper, dolor vel fringilla molestie, arcu risus luctus purus, non condimentum nulla nibh vitae turpis. Proin sed urna sem. Sed est magna, suscipit et sagittis in, efficitur quis tortor. Nunc nec erat orci. Sed imperdiet augue eu commodo efficitur. Nunc dignissim eu felis id mattis. Praesent porta feugiat est, eu consectetur odio ornare eget.

        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum sit amet diam ex. Sed ac scelerisque dolor. Nunc semper ultrices dui, eu ultrices magna facilisis ut. Praesent augue nibh, convallis ut ante et, rhoncus gravida massa. Suspendisse ornare turpis ac turpis tempor tempus. Etiam tristique tempor ultricies.

        Vivamus eget tellus at nibh scelerisque dapibus. Vestibulum posuere mi ac orci tristique egestas. Sed porttitor accumsan ultrices. Suspendisse varius pretium rutrum. Phasellus eget nibh ipsum. In at iaculis lacus, vitae molestie ex. Proin vitae mollis diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus vitae pretium nisi. Aliquam ac dolor nec tellus luctus ultrices.

        Generated 5 paragraphs, 340 words, 2317 bytes of Lorem Ipsum
    </p>
</div>
